### Java ###
target/
*.class
*.jar
*.war
*.zip
*.tar.gz
*.log

### Maven ###
.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath
.apt_generated
.springBeans
.sts4-cache

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
